# Final Example(by pandas)

https://movie.daum.net/moviedb/grade?movieId=120166&type=netizen&page=3

아래는 간단한 텍스트마이닝을 위한 예제로 html 코드를 파싱해 DAUM 영화의 네티즌 평점, 리뷰를 스크랩하기 위한 코드이다.
위 `URL`을 잘 살펴보면 어느부분을 바꿔야 원하는 영화에 대한 결과를 얻을 수 있는 지, 어느정도 양을 얻을 수 있는 지 알 수 있다.

In [92]:
from urllib.request import urlopen
from bs4 import BeautifulSoup
import pandas as pd

In [93]:
review_list=[]
for n in range(1):
    url = 'http://movie.daum.net/moviedb/grade?movieId=120166&type=netizen&page={}'.format(n+1)
    
    webpage = urlopen(url)
    source = BeautifulSoup(webpage,'html.parser',from_encoding='utf-8')    
    review_info= source.findAll('div', {'class': 'review_info'})

    for review_long in review_info:       
        glade = review_long.find('em', {'class': 'emph_grade'}) 
        glade= glade.get_text().strip()
        
        review = review_long.find('p', {'class': 'desc_review'})   
        comment=review.get_text().strip().replace('\n','').replace('\t','').replace('\r','')
        
        if comment=='' or comment=='.':
            pass
        elif 0< int(glade) < 10:
            review_list.append((int(glade),comment))

reviews_pd=pd.DataFrame(review_list, columns=['grade','comment'])

In [94]:
review_list

[(1, '너무너무 재미없어요 1탄은 재밌게 봐서 당연히 괜찮을 줄 알고 봤는데 내용이 완전 별루예요'),
 (5, '솔직히5점도아깝고....용가리는  좀  아니지않냐'),
 (2,
  '신과함께 4D로 봤습니다만, 4D로 봤는데도 불구하구 지루하고 너무 재미없네요...교차편집? 오히려 그부분이 극의 흐름을 너무 끊어놔서 몰입에 방해만됐습니다 1편도 유치했는데 2편은 난해하기까지...심각한 영화보기싫어 가족과 봤는데 실망했음')]

pandas는 현재 수치 뿐만 아니라 텍스트를 포함한 모든 데이터를 가장 보기 좋고 편리하게, 빠르게 분석, 처리할 수 있는 패키지이며 dataframe은 pandas에서 사용하는 자료형이다.

In [95]:
reviews_pd.shape

(3, 2)

In [96]:
reviews_pd.head()

   grade                                            comment
0      1  너무너무 재미없어요 1탄은 재밌게 봐서 당연히 괜찮을 줄 알고 봤는데 내용이 완전 ...
1      5                        솔직히5점도아깝고....용가리는  좀  아니지않냐
2      2  신과함께 4D로 봤습니다만, 4D로 봤는데도 불구하구 지루하고 너무 재미없네요......

In [97]:
reviews_pd.grade

0    1
1    5
2    2
Name: grade, dtype: int64

In [98]:
reviews_pd['comment']

0    너무너무 재미없어요 1탄은 재밌게 봐서 당연히 괜찮을 줄 알고 봤는데 내용이 완전 ...
1                          솔직히5점도아깝고....용가리는  좀  아니지않냐
2    신과함께 4D로 봤습니다만, 4D로 봤는데도 불구하구 지루하고 너무 재미없네요......
Name: comment, dtype: object

In [101]:
reviews_pd['test']=[1,2,3]

In [102]:
reviews_pd.shape

(3, 3)

In [104]:
reviews_pd.head()

   grade                                            comment  test
0      1  너무너무 재미없어요 1탄은 재밌게 봐서 당연히 괜찮을 줄 알고 봤는데 내용이 완전 ...     1
1      5                        솔직히5점도아깝고....용가리는  좀  아니지않냐     2
2      2  신과함께 4D로 봤습니다만, 4D로 봤는데도 불구하구 지루하고 너무 재미없네요......     3

In [105]:
reviews_pd.grade+reviews_pd.test

0    2
1    7
2    5
dtype: int64

## Example 
위 코드를 이용하여 DaumReview 클래스를 생성하여라.
1. movie_id와 page_num 매개변수로 받는다.
2. 객체변수로는 movie_id와 page_num, 빈 데이터프레임인 review_df를 가진다.
3. get_reviews 함수는 daum 영화 페이지에서 평점과 리뷰를 받아와 객체변수인 review_df에 저장해주며 review_df의 상위 5줄을 반환한다.
4. get_grade_avg 함수는 평점의 평균을 소수점 둘째자리에서 반올림하여 반환한다.
5. parsing_comment 함수는 comment를 빈칸을 기준으로 분리하여 review_df에 새로운 열 parsing_comment을 만들어 저장한 후 review_df의 상위 5줄을 반환한다.

## Homework
DaumReview 클래스에 다음 함수를 변경, 추가하여라.
1. parsing_commet : split()이 아닌 konlpy 패키지를 이용하여 `(단어, 형태소 종류)` 의 형태로 변환하고  review_df의 parsing_comment 내용 또한 변경하여라
2. get_neg: neg 파일은 부정적인 단어가 들어가있는 사전이다. neg 파일을 읽고 comment에 부정적인 단어를 검사하여 개수를 구하고 review_df의 neg 열에 저장하여라.
3. get_pos: pos 파일은 긍정적인 단어가 들어가있는 사전이다. pos 파일을 읽고 comment에 긍정적인 단어를 검사하여 개수를 구하고 review_df의 pos 열에 저장하여라.

주의! knolpy는 java와 jdk설치 등의 사전준비가 필요하다. http://konlpy.org/ko/latest/install/